.contacts {
    position: relative;

    padding-top: 200px;
    background-image: url(../images/footer-bg.svg);
    background-size: cover;
    padding-bottom: 55px;
    color: #FFF;

    &::before {
        content: "";
        display: block;
        width: 743px;
        height: 372px;
        
        background-image: url(../images/footer-oval.svg);
        background-size: initial;

        position: absolute;
        bottom: 0;
        left: 50%;
    }

    &::after {
        content: "";
        display: block;
        width: 478px;
        height: 547px;
        margin-left: 79px;
        
        background-image: url(../images/girl.png);
        background-size: initial;

        position: absolute;
        bottom: 0;
        left: 50%;
    }
}

.contacts-info {
    max-width: 360px;
}

.contacts-title {
    margin-bottom: 15px;
}

.contacts-text {
    margin-bottom: 30px;
    max-width: 320px;
}