.header-row {
    display: flex;
    align-items: center;
    justify-content: space-between ;
}

.header-text {
    width: 460px;
}

.header-text p{
    line-height: 1.678;
    margin-bottom: 1em;
}

.header-title {
    font-size: 54px;
    font-weight: 700;
    margin-bottom: 25px;
    line-height: 1.46;

    position: relative;
    margin-right: -160px;
}

.header-img img {
    border-radius: 40px 40px 40px 0px;
}

.header-form {
    margin-top: 42px;
}

.form {
    background: #FFFFFF;
    box-shadow: 0px 17px 42px rgba(0, 0, 0, 0.12);
    border-radius: 29px;
    height: 58px;
}

.form-label {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-left: 72px;

    &::before {
        content: '';
        display: block;
        width: 24px;
        height: 19px;
        background-image: url(./../images/mail.svg);
        background-size: initial;

        position: absolute;
        top: 20px;
        left: 28px;
    }
}

.form-input {
    flex-grow: 1;
    margin-right: 10px;
    &::placeholder {
        color: #BBBBBB;
    }
}